/.vs
/deploy
/HardwareMonitorClientBootstrapper/bin
/HardwareMonitorClientBootstrapper/obj
/HardwareMonitorInstaller/bin
/HardwareMonitorInstaller/obj
/HardwareMonitorClientBootstrapper/jre
*.jar
*.csproj
*.user
*.sln
UpgradeLog.htm
UpgradeLog2.htm
