/.vs
/deploy
/HardwareMonitorClientBootstrapper/bin
/HardwareMonitorClientBootstrapper/obj
/HardwareMonitorInstaller/bin
/HardwareMonitorInstaller/obj
/HardwareMonitorClientBootstrapper/jre
*.jar
*.user
UpgradeLog.htm
UpgradeLog2.htm
